html.dark,
html.dark body,
body.dark {
    background: $background_color_2;
}

html.dark .websfolio_th,
body.dark .websfolio_th{
    background: $background_color_2;
}

html.dark .card,
html.dark .contact .main_content .contact_about_area,
html.dark .contact .main_content .contact_form_wrapper,
html.dark .react_model .react_model_inner,
html.dark .comment .inner .comment_bubble,
html.dark .portfolio .gallery_card,
body.dark .card,
body.dark .contact .main_content .contact_about_area,
body.dark .contact .main_content .contact_form_wrapper,
body.dark .react_model .react_model_inner,
body.dark .comment .inner .comment_bubble,
body.dark .portfolio .gallery_card{
    background: $background_color_1;
    box-shadow: $shadow_1;
}

html.dark .hero .main_content .thumbnail::before,
body.dark .hero .main_content .thumbnail::before{
    background: $background_color_1;
    box-shadow: $shadow_1;
}

html.dark .blogs .blog_load_more,
html.dark .portfolio .main_content .gallery_load_more,
html.dark .comment .inner .comment_load_more,
html.dark .blog_details .main_content .blog_share button,
html.dark .blog_details .main_content .blog_share a,
html.dark .gallery_details .gallery_zoom_controls button,
body.dark .blogs .blog_load_more,
body.dark .portfolio .main_content .gallery_load_more,
body.dark .comment .inner .comment_load_more,
body.dark .blog_details .main_content .blog_share button,
body.dark .blog_details .main_content .blog_share a,
body.dark .gallery_details .gallery_zoom_controls button{
    background: $background_color_1;
    box-shadow: $shadow_1;
}

html.dark input,
html.dark textarea,
html.dark .comment .inner .comment_reply_form input,
body.dark input,
body.dark textarea,
body.dark .comment .inner .comment_reply_form input{
    background: #191b1e;
    color: $color_lightn;
    box-shadow: $inner_shadow;
    border: none;
}

.dark_and_light_btn{
    position: fixed;
    top: 20%;
    left: 0;
    font-size: 23px;
    padding: 6px 11px 5px 11px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background: $gradient_red_hover;
    color: $color_white;
    z-index: 1000;
}
